
<h1>Check back often to see our new designs!</h1>
<ul class="small-block-grid-2 large-block-grid-3" data-equalizer>
  <% @products.each do |product| %>
    <li data-equalizer-watch>
      <a href="javascript:void(0)"><%= image_tag (product.image) %></a>
    </li>
  <% end %>
</ul>
