<%# navigation styled for Zurb Foundation 5 %>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section" style="margin-top:0px;">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#" data-reveal-id="about">About</a></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><a href="#" data-reveal-id="contact">Contact Us</a></li>
      <li><a href="https://www.facebook.com/pages/Pick-It-Up-Clothing-Company/365220130279421" target="blank"> <%= image_tag ('facebook_icon.png')%></a></li>
      <li><a href="http://epperson.me/construction.html">Sign In</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    </ul>
  </section>
</nav>

<style>
  h1 {color:#8C001A}
  @media (max-width:500px) {#johnny-boy{display:none;}}
</style>
