<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <section class="top-bar-section" style="margin-top:0px;">

    <ul class="right">
      <li><a href="#" data-reveal-id="about">About</a></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><a href="#" data-reveal-id="contact">Contact Us</a></li>
      <li><a href="https://www.facebook.com/pages/Pick-It-Up-Clothing-Company/365220130279421" target="blank"> <%= image_tag ('facebook_icon.png')%></a></li>
      <li><a href="http://eric-david-epperson.herokuapp.com/construction.html">Sign In</a></li>
    </ul>

    <ul class="left">
    </ul>
  </section>

</nav>
